<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

---

In [ ]:
print (Olá, mundo!)

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

---

In [ ]:
# A

qtd_total_vendas_A = 3

ticket_medio_A = 320.52

total_de_vendas_A = qtd_total_vendas_A * ticket_medio_A

print (total_de_vendas_A)

# B

total_de_vendas_B = 834.47

ticket_medio_B = 119.21

qtd_total_vendas_B = total_de_vendas_B // ticket_medio_B

print (qtd_total_vendas_B)

# C

total_de_vendas_C = 15378.12

qtd_total_vendas_C = 5

ticket_medio_C = total_de_vendas_C // qtd_total_vendas_C

print (ticket_medio_C)

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [ ]:
canção = 'roda mundo, roda gigante, roda moinho, roda pião'

# title: string.title()

print (canção.title()) 

# split: string.split()

print (canção.split())

# upper: string.upper()

print (canção.upper())

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

In [ ]:
a = False 

b = True

x = not a & b

print (x)